# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.vspscc

# Build results
[Bb]in/
[Oo]bj/

# ASP.NET Scaffolding
Scaffolding/

# VS for Mac
.vscode/

# JetBrains Rider
.idea/
